<!-- TODO: Add microformats from schema.org -->
<article>
	<header>
		<h1>{{title}}</h1>
		<h2 class="category">{{category}}</h2>
		<time datetime="{{published-datetime}}">
			<span class="month"><abbr title="{{published-fullmonth}}">{{published-shortmonth}}</abbr></span>
			<span class="day">{{published-day}}</span>
		</time>
	</header>
	<p class="lead">
		{{lead}}
	</p>
	{{body}}
	<a href="/{{stub}}/">{{read-more-text}}</a>
</article>